.botao {
    display: inline-block;
    padding: 20px 40px;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
    background-color: #ff0000; /* Vermelho */
    text-decoration: none;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .botao:hover {
    background-color: #cc0000; /* Vermelho escuro */
    transform: scale(1.05);
  }